.jtbutton a span, .about-box:hover .about-icon:before, .about-box:hover .about-icon:after, .form-btn:hover, .social:hover, #backtotop a:hover,.package:hover .circle2, .package:hover .circle3 {
    background-color: #3498DB;
}

.home-content h1 span, .about .header span, .nav > li > a:hover, a, a:hover, a:focus, .about-icon i, .colored, .factor, #going_down a:hover,.footer a:hover{
    color: #3498DB;
}

.nav > li > a:hover {
    border-bottom: 2px solid #3498DB;
}

.form-btn:hover {
    border-bottom: 1px solid #3498DB;
}

.skills .progress .progress-bar {
    background-color: #3498DB;
}
.pic img:hover{
    border: solid #3498DB 5px;
}